
.pageaccueil__titre {
    color: white;
    margin-top: -200px;
    margin-bottom: 150px;
    margin-left: 20px;
    font-family: var(--font-secondary);
    font-size: 2rem;
}

.paragraphe {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 0.9rem;
    color: #1C2735;
    font-family: 'amikoregular';
}

.paragraphe__title {
    font-size: 1.1rem;
    font-family: var(--font-primary);
    margin-top: 30px;
}

.paragraphe__title__glossaire {
    font-size: 1.5rem;
    color: #1C2735;
    font-family: var(--font-primary);
    font-weight: bold;
    margin-top: 50px;
}

.lien {
    color: #6090A8;
}

