
.pageaccueil__texte {
    color: white;
    margin-top: -200px;
    margin-bottom: 150px;
    margin-left: 20px;
    font-family: var(--font-secondary);
    font-size: 32px;
}


.paragraphe__title {
    color: #1C2735;
    font-size: 15px;
    text-transform: uppercase;
}


