@font-face {
    font-family: 'amikoregular';
    src: url('amiko-regular-webfont.woff2') format('woff2'),
        url('amiko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}