:root {

    /* Font-family styles */

    --font-primary: 'amikoregular', sans-serif;
    --font-secondary: "Allerta Stencil", serif;
    --font-tertiary: "Faster One", serif; 
    --font-quaternary: 'Amiko Bold',sans-serif;

}