.footer {
    background: linear-gradient(to bottom,#6090A8,#284356,#1C2735);
    color: white;
    
}

.footer__partie {
    margin-left: 20px;
    margin-right: 20px;
}

.footer__contact {
    margin-left: 20px;
    margin-right: 20px;
}

.footer__legal {
    margin-left: 20px;
    margin-right: 20px;
}   