.autresprojets__img {
    margin-left: 20px;
}

.autresprojets__texte {
    font-family:var(--font-secondary);
    font-size: 20px;
    color:#1C2735;
    margin-top: -60px;
    margin-bottom: 30px;
    margin-left: 162px;
}

.autresprojets__button {
    border-radius: 50px;
    background-color:#6090A8;
    padding: 1rem 1rem;
    display: inline-block;
    margin-left: 162px;
    margin-bottom: 80px;
    text-align: center;
}

.autresprojets__button a {
    color: white;
    font-family: var(--font-secondary);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

 
