.button{
    border-radius: 50px;
    background-color: #6090A8;
    padding: 1.5rem 1.5rem;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family:'allertastencil';
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    justify-content: center; 
    margin-left: 130px;
    
}

.button a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;

}


.button__contact {
    border-radius: 50px;
    background-color: #1C2735;
    font-family:'allertastencil';
    font-size: 20px;
    color: white;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-top: 90px;
    margin-bottom: 90px;
}

