.card{
    margin-bottom: 44px;
}

.card__image{
    width: 80%;
    margin-left: 20px;
}

.card__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 7px;
    padding-bottom: 20px;
    background-color: #1C2735;
    color: white;
    width: 60%;
    margin-left: 120px;
    margin-right: 20px;
    margin-top: -65px; 
    position: relative;
    padding-right: 25px;
}

.card__content--title{
    font-size: 20px;
    margin-left: 10px;
    font-family: var(--font-secondary);
    
}

.card__content--description {
    font-size: 13px;
    margin-left: 10px;
    font-family: var(--font-primary);
    margin-bottom: 20px;
}

.card__button {
    display: flex;    
    text-decoration: none;
    color:white;
    border-radius: 30px;
    background-color: #6090A8;
    text-align: center;
    font-size: 17px;
    padding: 0.5rem 1rem;
    align-self: flex-end;
}

.card__button a{
font-family: var(--font-primary);
    font-weight: 700;
}