
.carrousel__container {
    display: flex;
    gap: 20px;
    overflow: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 20px;
    margin-right: 20px;
}

.carrousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}

.carrousel__item--img { 
    border-radius: 8px;
        object-fit: cover;
        width: 202px;
        height: 278px;
}

.carrousel__link {
    color: #1C2735;
    text-align: center;
    background-color: #b6ccd7;
    border-radius: 50px;
    padding: 1rem 2rem;
    margin: 30px auto;
    font-family: var(--font-primary);
    display: inline-block;
}

        .carrousel {
            position: relative;
            overflow: hidden;
        }
    
        .carrousel__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            border-radius: 50%;
            padding: 10px 15px;
            cursor: pointer;
            z-index: 2;
            font-size: 1.1rem;
        }
    
        .carrousel__button--prev {
            left: 10px;
        }
    
        .carrousel__button--next {
            right: 10px;
        }
    
        .carrousel__button:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: black;
            transition: background-color 0.3s;
        }