
.carrousel__container {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow: hidden;
}

.carrousel__item {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrousel__item img { 
    border-radius: 8px;
}

.carrousel__link {
    color: #1C2735;
    text-align: center;
    background-color: #b6ccd7;
    border-radius: 50px;
    padding: 1rem 2rem;
    margin: 30px auto;
    font-family: var(--font-primary);
    display: inline-block;
}

.courrousel_fleche{
    position: absolute;
    right: 0;
}
