.exergue {
    border-radius: 30px;
    background-color: #b6ccd7;
    padding: 30px;
    color: #1C2735;
    text-align: center;
    font-family:'amikoregular';
    font-size: 0.9rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}


