.image {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;
}

.imageCE {
    margin-left: 20px;
    margin-right: 20px;  
}

.pageaccueil__image {
    margin-top: 113px;
}

.image__double {
    display: flex;
    gap: 10px;
    width: 150px;
}