.legende {
    color: #6090A8;
    font-family:'amikoregular';
    font-size: 13px;    
}

.legende__img--DND {
    gap: 60px; 

}

.image__double{
    display: flex;
    gap: 10px;
    width: 150px;
}
