.legende {
    color: #6090A8;
    font-family:'amikoregular';
    font-size: 13px;    
}

.legende__img--DND {
    display: inline-block;
    justify-content: space-between;
    width: 171px;
    

}

