.legende {
    color: #6090A8;
    font-family:'amikoregular';
    font-size: 13px;    
}

.legende__img--DND {
    width: 145px;
    gap: 60px; 

}

.image__double{
    display: flex;
    justify-content: space-between; 
}
