dialog#lightbox {
    border-radius: 20px;
    border-color: #ffffff;
    border-width: 10px;
    background-color: #6090A8;

}

::backdrop {
    background-color:#1C2735;
    opacity: 0.8;

}

dialog#lightbox[open] {
    animation: entree 2s;
}

dialog#lightbox[open]::backdrop {
    animation: entree 1s;
}

@keyframes entree {
    0% {
        transform: scale(0, 5);
        opacity: 0;
    }

    50% {
        transform: scale(0, 8);
        opacity: 1;
    }


    100% {
        transform: scale(1);
    }
}


dialog#lightbox[open].sortie {
    animation: sortie 0,8s;
}

@keyframes sortie {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}