.menu-btn {
    z-index: 1000;
    background: none;
    all:unset;
}

.menu {
    list-style: none;
    
}

.menu-btn__btn {
background: none;
    all: unset;
    margin-right: 10px;
}

.menu__link{
    font-size: 1.3rem;
    font-family: var(--font-secondary);
    color: white;
    text-decoration: none;
    line-height: 40px;
}

.menu__item{
   margin-top: 90px;
}