.header__menu-btn{
    visibility: hidden;
}

.menu__items {
    color: white;
    font-family: 'allertastencil';
    font-size: 20px;
   text-align: center;
}

.header__menu-btn {
    margin-right: 500px;
}
 
.menu-btn__btn {
    width: 30px;
    height: auto;
}