.palette__avecligne{
    margin-top: 70px;
    margin-bottom: 70px;
}

.palette__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.palette__1-img{
    width: 150px;
    height: auto;
}

.palette__2 {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.palette__legende {
    color: #6090A8;
    font-family: 'amikoregular';
    font-size: 13px;
}

.palette__ligne{
    border-bottom: 2px solid #6090A8;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}