.paragraphe {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #1C2735;
    font-family: 'amikoregular';

}

.paragraphe__pageaccueil3 {
    margin-bottom: 40px;
}   

.paragraphe__title__glossaire{
    font-size: 15px;
    font-style: bold;
    color: #1C2735;
    font-family: 'amikoregular';
    margin-top: 50px;
}

.paragraphe__pageglossaire {
    font-family: 'amikoregular';
    font-size: 15px;
    color: #1C2735;
    margin-bottom: 40px;
}

.paragraphe__pageaccueil1{
    font-weight: bold;
}